table{
    margin-top: 4vh;
}

th{
    background-color: greenyellow;
    padding: 0.5vh 0.5vw;
}

td{
    text-align: center;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}


.table{
    width: 60%;
    display:flex;
    flex-direction:column;
    align-content:center;


}

.content{
    border: solid;
}
